@model RQG.Models.Question

@{
    ViewData["Title"] = "Random Question";
}

<head>
    <script type="text/javascript">
        function toggle(id) {
            var answer = document.getElementById(id);

            if (answer.style.visibility == 'hidden') {
                answer.style.visibility = 'visible';
            } else {
                answer.style.visibility = 'hidden';
            }
        }

    </script>
</head>

<h2>Random Question</h2>

<p>
    <a asp-action="Random">See another random question</a>
</p>
<p>
    <a asp-action="Index">Question Bank</a>
</p>

<br />

<p>
    <b>Question: </b>@Html.ValueForModel(Model.Description) <a href="#" onclick="toggle('answer');">Reveal answer</a>
</p>
<p>
    <b>Category: </b>@Html.ValueForModel(Model.Category)
</p>


<div style="visibility:hidden" id="answer">
    <b>Answer: </b>@Html.ValueForModel(Model.Answer)
</div>





